/* Mobile and Tablet */
@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
        overflow: hidden;
    }

    header {
        color: var(--text-white);
        padding: 1.5rem 2rem;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .info-content .text-about {
        width: 100%;
    }

    .content {
        padding: 1rem 2rem;
    }

    .seccao {
        padding: 8rem 2rem 2rem 2rem;
    }

    .section-title {
        font-size: 4rem;
    }

    .partner-card img {
        width: 5rem;
    }
    .video-section{
        display: flex;
        height: 100%;
    }
    .video-description{
        width: 20%;
        z-index: 1000;
    }
    .video-card {
        height: 80%;
        border-radius: 1rem;
    }

    .video-card video{
        height: 80%; 
        width: 100%;
    }
    .hero-section{
        background-position: center;
    }
    .hero-section .hero-content {
        width: 100%;
        height: 90%;
        padding: 4rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
    }
    .hero-section-about{
        padding: 10rem 2rem 5rem 2rem;
        height: auto;
    }
    .about-info{
        width: 100%;
    }

    .hero-content .info-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .highlights-section .section-group, .text-box{
        background-color: #00000037;
        padding: 2rem;
        border-radius: 1rem;
    }
    .section-group{
        width: 100%;
       
        padding: 4rem 2rem ;
    }

    .hero-content{
        height: 100%;
    }
    .info-content {
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;  
    }

    #brand .section-group p{
        font-size: 1.3rem;
    }

    .hero-content .highlight-card {
        display: flex;
        flex-direction: row;
        width: 105%;
        overflow-x: scroll;
    }
    .cards-section {
        display: none;
        padding-top: 2rem;
    }

    .name-chate h1{
        font-size: 3rem;
        line-height: 1;
    }
    
    .name-chate h1:nth-child(2){
        font-size: 6rem;;
        color: var(--primary-color);
    }

    .mood div label .mode-img{
        width: 3rem;
    }
    
}

/* Desktop */
@media screen and (min-width: 769px) {
    .hide-desktop {
        display: none;
        overflow: hidden;
    }

    /* Adicione estilos específicos para desktop, se necessário */
}