/* Desktop */
@media screen and (min-width: 601px){
    .hide-desktop {
        display: none;
        overflow: hidden;
    }
}

/* Mobile */
@media screen and (max-width: 600px){
    .hide-mobile {
        display: none;
        overflow: hidden;
    }

    header{
        background-color: var(--dark-color);
        color: var(--text-white);
        padding: 1.5rem 2rem;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .info-content .text-about{
        width: 100%;
    }
    .content{
        padding: 1rem 3rem;
    }
    .seccao{
        padding: 8rem 2rem 2rem 2rem;
    }
    .section-title{
        font-size: 4rem;
    }
    .partner-card img{
       width: 5rem;
    }
    .video-card{
        overflow: hidden;
        height: 48rem; 
        border-radius: 1rem;
    }

    .hero-section .hero-content{
        width: 100%;
        height: 90%;
        padding: 4rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
    }

    .hero-content .info-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .info-content{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;  
    }

    .hero-content .highlight-card{
        display: flex;
        flex-direction: row;
    }

    .cards-section{
        padding-top: 2rem;
    }
}
