/* Desktop */
@media screen and (min-width: 601px){
    .hide-desktop {
        display: none;
        overflow: hidden;
    }
}

/* Mobile */
@media screen and (max-width: 600px){
    .hide-mobile {
        display: none;
        overflow: hidden;
    }
    .info-content .text-about{
        width: 100%;
    }
    .content{
        padding: 1rem 3rem;
    }
    .seccao{
        padding: 8rem 2rem 2rem 2rem;
    }
    .section-title{
        font-size: 4rem;
    }
    .partner-card img{
       width: 5rem;
    }
    .video-card{
        overflow: hidden;
        width: 35rem;
        height: 50rem; 
        border: 0.3rem solid var(--white-color);
        border-radius: 1rem;
    }
}
