/* Mobile and Tablet */
@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
        overflow: hidden;
    }

    header {
        background-color: var(--dark-color);
        color: var(--text-white);
        padding: 1.5rem 2rem;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .info-content .text-about {
        width: 100%;
    }

    .content {
        padding: 1rem 2rem;
    }

    .seccao {
        padding: 8rem 2rem 2rem 2rem;
    }

    .section-title {
        font-size: 4rem;
    }

    .partner-card img {
        width: 5rem;
    }

    .video-card {
        overflow: hidden;
        height: 50rem; 
        border-radius: 1rem;
    }

    .hero-section .hero-content {
        width: 100%;
        height: 90%;
        padding: 4rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
    }
    .hero-section-about{
        padding: 10rem 4rem;
    }
    .about-info{
        width: 100%;
    }

    .hero-content .info-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .info-content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;  
    }

    .hero-content .highlight-card {
        display: flex;
        flex-direction: row;
        width: 105%;
        overflow-x: scroll;
    }
    

    .cards-section {
        padding-top: 2rem;
    }

    .name-chate h1{
        font-size: 2.5rem;
        line-height: 1;
    }
    
    .name-chate h1:nth-child(2){
        font-size: 4rem;;
        color: var(--primary-color);
    }

    .mode-img{
        width: 2rem;
    }
    
}

/* Desktop */
@media screen and (min-width: 769px) {
    .hide-desktop {
        display: none;
        overflow: hidden;
    }

    /* Adicione estilos específicos para desktop, se necessário */
}