.link{
    gap: 0.5rem;
    font-weight: bold;
}

.navbtn-section{
    display: flex;
    gap: 1rem;
}

.btn-nav{
    background-color: var(--light-color);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav.active{
    background-color: var(--primary-color);
    color: var(--text-white);
}

.btn-nav:hover{
    background-color: var(--primary-color);
    color: var(--text-white);
}

.cords{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highligth-card{
    color: var(--text-white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highligth-card img{
    border-radius: 1rem;
}

.highligth-card:hover{
    color: var(--primary-color);
}

.highligth-card:hover > img{
    filter: brightness(0.8);
}
.partner-card{
    background: #000000c9;
    padding: 4rem;
}
.partner-card:hover{
    box-shadow: 0px 0px 3px var(--primary-color);
    transition: 0.3s;
}



.video-card {
    flex: 0 0 auto;
    border-radius: 1rem;
    gap: 1rem;
    scroll-snap-align: start;
}

.video-card video{
    border: 0.3rem solid var(--white-color);
    border-radius: 1rem;
    height: 40rem;
}

.video-description{

}